<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5434/SilkRoad</property>
        <property name="hibernate.connection.username">mac</property>
        <property name="hibernate.connection.password">mac1996</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>-->
<!--        <property name="net.sf.ehcache.configurationResourceName">./ehcache.xml</property>-->
<!--        <property name="hibernate.cache.use_query_cache">true</property>-->
<!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->

        <mapping class="com.example.silkroad.models.User"/>
        <mapping class="com.example.silkroad.models.Admin"/>
        <mapping class="com.example.silkroad.models.Client"/>
        <mapping class="com.example.silkroad.models.Product"/>
        <mapping class="com.example.silkroad.models.Order"/>

    </session-factory>
</hibernate-configuration>